#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -32px;
}

.splash-button {
  color: white;
  margin-top: 16px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) {
    #root {
      width: 100%;
      padding: 16px;
    }

    .splash-title {
      font-size: 1em;
    }

    .card {
      font-size: 1em;
      width: 80%;
      padding: 16px;
      margin: 0 auto;
      margin-top: 16px;
    }
}